body {
  background-color: blanchedalmond;
}
.container {
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  align-content: stretch;
  /*width: 500px;*/
  height: 400px;
  margin: auto;
  padding: 30px;
}

.info {
  border-radius: 25px;
  padding: 20px;
  margin-bottom: 40px;
}
.info p {
  color: grey;
}
.some-class div {
  float: left;
  width: 50px;
  height: 50px;
  border: 5px solid red;
  box-sizing: border-box;
  margin: 10px 20px 25px 15px;
}
#avatar {
  max-width: 150px;
  height: auto;
  border-radius: 100%;
}
#avatar:hover {
  width: 300px;
  transition: 1s;
}
img {
  display: inline;
  max-width: 200px;
  height: auto;
}
img:hover {
  width: 100px;
  transform: rotate(180deg);
  transition: width 1s;
}
@media (max-width: 500px) {
  .container {
    display: block;
    text-align: center;
    background-color: rgb(135, 135, 179);
  }
  #avatar {
    width: 50px;
    border-radius: 100%;
  }
}
.groups {
  color: blue;
  background-color: rgb(185, 190, 189);
  text-decoration: underline;
  text-transform: capitalize;
}
h2 {
  font-size: 2vw;
  color: brown;
}
a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: blue;
}

a:active {
  color: blue;
  text-decoration: none;
}

a:visited {
  color: grey;
}
p {
  animation-name: my-animation;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes my-animation {
  from {
    margin-left: 100%;
    width: 300%;
  }
  50% {
    color: aqua;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}
