body {
  background-color: rgb(179, 181, 212);
  font: 600 20 px arial, helvetica, sans-serif;
}
form {
  background-color: rgb(125, 135, 161);
}
input {
  background-color: rgb(88, 117, 150);
}
button {
  border-color: rgb(32, 180, 32);
  color: brown;
  background-color: coral;
}
img {
  width: 200px;
  border-radius: 20%;
}
.parent {
  border: 1px solid black;
  padding: 10px;
  margin: 5px;
  /* position: static; */

  /* margin-top: 40px; */
  /* position: absolute; */

  /* position: relative; */
  /* height: 500px;
  width: 500px; */
}
/* absolute child > staic/default parent */
/* absolute shild < relative/absolute parent */
/* fixed child > relative/absolute parent */
/* absolute depends on content, relative don't */

.child {
  /*width: 500px;
  height: 50px;*/
  background: blue;
  border: 1px solid rgb(243, 5, 5);
  padding: 20px;
  margin: 5px;*/
  /*position: static;*/
}
